@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body {
  background-color: #f4f4f9;
  color: #333;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

#mainContainer {
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 450px;
  width: 90%;
  margin: 30px 0;
}


body.dark-mode #mainContainer {
  background-color: #444;
  color: #f4f4f9;
  border: 1px solid #888;
}

body.dark-mode input,
body.dark-mode select {
  background-color: #555;
  color: #f4f4f9;
  border: 1px solid #888;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #ff6347;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
select,
button {
  padding: 12px;
  border-radius: 20px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

button {
  background-color: #ff6347;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  font-weight: 500;
}

button:hover {
  background-color: #ff4a32;
  transform: scale(1.05);
}

#mealPlanDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

#mealPlanDisplay div {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  margin-bottom: 20px;
  border-radius: 15px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ff6347;
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

img {
  border-radius: 15px;
  object-fit: cover;
  max-width: 100%;
}

a {
  color: #ff6347;
}

input:focus,
select:focus {
  outline: none;
  background-color: #e6f7ff;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #ff6347;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

body.light-mode {
  background-color: #f4f4f9;
  color: #333;
}

body.dark-mode {
  background-color: #333;
  color: #f4f4f9;
}

.icon {
  display: inline-block;
  margin-top: 5px;
  margin-left: 2px;

}